$c-yellow:#edc51b;
$c-green:#2bed1b;

html,
body, .leaderhead-app {
  margin: 0;
  padding:0;
  
}

.background{
  position:fixed;
  z-index:-1;
  height: 100%;
}

.leaderhead-app{
  position: relative;
  height: 100%;
  margin: 0;
  padding:0;
 // background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  .game-wrap{
    //background-color: black;
    position: relative;
    width: calc(var(--vh, 1vh) * 60);
    height: calc(var(--vh, 1vh) * 60);
    //padding: 1rem;
    .game{
      position: relative;
      z-index: 101;
    }
  } 
  .react{
    position: absolute;
    //z-index: 50;
    //width: calc(var(--vh, 1vh) * 60);
    //height: calc(var(--vh, 1vh) * 40);
  }  
}


.avatar-toolbar{
  position: absolute;
  display: flex;
  z-index: 500;
  .edit-btn{
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 2rem;  
   
  }
}


.react-ui{
  position: relative;
  z-index: 50;
  height: 100%;
  margin-top:calc(var(--vh, 1vh) * 60) ;
  width: calc(var(--vh, 1vh) * 60);
  height: calc(var(--vh, 1vh) * 40);
  .steps{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    .app-step-button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: blockhead-unplugged,sans-serif;
      font-weight: 400;
      font-style: normal;    
      color:$c-yellow;
      .step-number{
        font-size: 2rem;
        line-height: 2rem;
      }
      &.selected{
        color:$c-green;
      }
    }
    .app-step-button *{
      cursor: pointer;
    }
  }
}

.gallery{
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: block;
  height:100%;
  overflow-x:hidden;
  overflow-y: scroll;    
}

::-webkit-scrollbar {
  width: 0;
}

.thumbs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 3rem;
  gap: 1rem;
}
.thumb{
  padding: 0px;
  width: 7rem;
  cursor: pointer;
}
.thumb-layer{
  padding: 0px;
  width: 7rem;
  cursor: pointer;
  &.selected{
    border: 3px solid white;
  }
  &.deselected{
    border: 3px dashed rgb(43, 55, 167);
  }
}

.effect-galery{
  display: flex;
  flex-direction: row;
  .effect-list{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:1;
    padding: 0.5rem;
    text-align: center;
    h3{
      color: white;
      font-family: blockhead-unplugged,sans-serif;
      //margin: 0;
    }
    .thumb-effect{
      color: white;
      font-family: blockhead-unplugged,sans-serif;
      cursor: pointer;
      &.selected{
        color: rgb(238, 155, 0);
      }
    }
  } 
}

button {
  color: #E8CE00;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0 0.5rem 0.375rem 0.25rem;
  font-family: blockhead-unplugged,sans-serif;
  background: rgba(112, 26, 230, 0.75);
  box-shadow: 0.2rem 0.2rem rgba(230, 104, 26, 0.75);
  border: none;
  margin-bottom: 0.5rem;
}

button:hover {
  filter: drop-shadow(0 0 0.313rem rgba(247, 223, 0, 0.64));
  color: orange;
}

