$c-yellow:#edc51b;
$c-green:#2bed1b;

html,
body, .leaderhead-app {
  margin: 0;
  padding:0;
  
}

.background{
  position:fixed;
  z-index:-1;
  height: 100%;
}

.leaderhead-app{
  position: relative;
  height: 100%;
  margin: 0;
  padding:0;
 // background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  .game-wrap{
    //background-color: black;
    position: relative;
    width: calc(var(--vh, 1vh) * 60);
    height: calc(var(--vh, 1vh) * 60);
    //padding: 1rem;
    .game{
      position: relative;
      z-index: 101;
    }
  } 
  .react{
    position: absolute;
    //z-index: 50;
    //width: calc(var(--vh, 1vh) * 60);
    //height: calc(var(--vh, 1vh) * 40);
  }  
}


.avatar-toolbar{
  position: absolute;
  display: flex;
  z-index: 500;
  .edit-btn{
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 2rem;  
   
  }
}


.react-ui{
  position: relative;
  z-index: 50;
  height: 100%;
  margin-top:calc(var(--vh, 1vh) * 60) ;
  width: calc(var(--vh, 1vh) * 60);
  height: calc(var(--vh, 1vh) * 40);
  .steps{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    .app-step-button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: blockhead-unplugged,sans-serif;
      font-weight: 400;
      font-style: normal;    
      color:$c-yellow;
      .step-number{
        font-size: 2rem;
        line-height: 2rem;
      }
      &.selected{
        color:$c-green;
      }
    }
    .app-step-button *{
      cursor: pointer;
    }
  }
}

.gallery{
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: block;
  height:100%;
  overflow-x:hidden;
  overflow-y: scroll;    
}

::-webkit-scrollbar {
  width: 0;
}

.thumbs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 3rem;
  gap: 1rem;
}
.thumb{
  padding: 0px;
  width: 7rem;
  cursor: pointer;
}
.thumb-layer{
  padding: 0px;
  width: 7rem;
  cursor: pointer;
  &.selected{
    border: 3px solid white;
  }
  &.deselected{
    border: 3px dashed rgb(43, 55, 167);
  }
}
